In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib ipympl

In [2]:
day_ahead_Jan = pd.read_csv('day_ahead_data_Jan.csv')
day_ahead_Aug = pd.read_csv('day_ahead_data_Aug.csv')
day_ahead_Oct = pd.read_csv('day_ahead_data_Oct.csv')
real_time_Jan = pd.read_csv('real_time_data_Jan.csv')
real_time_Aug = pd.read_csv('real_time_data_Aug.csv')
real_time_Oct = pd.read_csv('real_time_data_Oct.csv')

In [3]:
node_list = day_ahead_Jan['Location'].unique()
list(node_list)

['ALTA1G_7_B1',
 'BIGCRK3_2_B1',
 'C493GEN_7_N003',
 'CUYAMAGN_7_N001',
 'IBM-CTLE_1_N002',
 'JESSUP_1_GN001',
 'KANAKAJT_1_B1',
 'KEARNY_7_GNU1N',
 'LBEACH1G_7_N001',
 'MECCTG2_7_B2',
 'MILPITAS_1_N001',
 'REDMGEN_7_N003',
 'RENFRO_1_N001',
 'SHELL3_7_B2',
 'SPIJCT_6_B1',
 'TOT210S1_7_N002',
 'TULLOCH_7_B2',
 'VACA-DIX_1_B1',
 'WISE1_7_B1']

In [4]:
"""set the date column as date time format"""
real_time_Jan['Time'] = pd.to_datetime(real_time_Jan['Time'])
"""get the the rows where date is Jan 5"""
real_time_Jan_5 = real_time_Jan[real_time_Jan['Time'].dt.day == 5]
print(real_time_Jan_5[real_time_Jan_5['Location'] == 'VACA-DIX_1_B1' ]['Time'])

7313   2022-01-05 00:00:00-08:00
7332   2022-01-05 00:15:00-08:00
7351   2022-01-05 00:30:00-08:00
7370   2022-01-05 00:45:00-08:00
7389   2022-01-05 01:00:00-08:00
                  ...
8966   2022-01-05 22:45:00-08:00
8985   2022-01-05 23:00:00-08:00
9004   2022-01-05 23:15:00-08:00
9023   2022-01-05 23:30:00-08:00
9042   2022-01-05 23:45:00-08:00
Name: Time, Length: 92, dtype: datetime64[ns, pytz.FixedOffset(-480)]

In [5]:
real_time_Jan = real_time_Jan[real_time_Jan['Time'].dt.day != 5]

In [6]:
day_ahead_Jan['Time'] = pd.to_datetime(day_ahead_Jan['Time'])
"""remove the rows where date is Jan 5"""
day_ahead_Jan = day_ahead_Jan[day_ahead_Jan['Time'].dt.day != 5]    
day_ahead_Jan

                           Time         Location       LMP
0     2022-01-01 00:00:00-08:00      ALTA1G_7_B1  60.27546
1     2022-01-01 00:00:00-08:00     BIGCRK3_2_B1  57.13874
2     2022-01-01 00:00:00-08:00   C493GEN_7_N003  57.78048
3     2022-01-01 00:00:00-08:00  CUYAMAGN_7_N001  57.35465
4     2022-01-01 00:00:00-08:00  IBM-CTLE_1_N002  60.74927
...                         ...              ...       ...
13675 2022-01-30 23:00:00-08:00      SPIJCT_6_B1  50.29420
13676 2022-01-30 23:00:00-08:00  TOT210S1_7_N002  48.31790
13677 2022-01-30 23:00:00-08:00     TULLOCH_7_B2  50.36007
13678 2022-01-30 23:00:00-08:00    VACA-DIX_1_B1  49.89894
13679 2022-01-30 23:00:00-08:00       WISE1_7_B1  49.84826

[13224 rows x 3 columns]

In [7]:
real_time_Aug['Time'] = pd.to_datetime(real_time_Aug['Time'])
sucker = real_time_Aug[real_time_Aug['Location'] == 'WISE1_7_B1']
"""groupby date and count the number of rows for each date"""
sucker.groupby(sucker['Time'].dt.date).count()

            Time  Location  LMP
Time
2022-08-01    92        92   92
2022-08-02    96        96   96
2022-08-03    96        96   96
2022-08-04    96        96   96
2022-08-05    96        96   96
2022-08-06    96        96   96
2022-08-07    96        96   96
2022-08-08    96        96   96
2022-08-09    96        96   96
2022-08-10    96        96   96
2022-08-11    96        96   96
2022-08-12    96        96   96
2022-08-13    96        96   96
2022-08-14    96        96   96
2022-08-15    96        96   96
2022-08-16    96        96   96
2022-08-17    96        96   96
2022-08-18    96        96   96
2022-08-19    96        96   96
2022-08-20    96        96   96
2022-08-21    96        96   96
2022-08-22    96        96   96
2022-08-23    96        96   96
2022-08-24    88        88   88
2022-08-25    92        92   92
2022-08-26    96        96   96
2022-08-27    96        96   96
2022-08-28    96        96   96
2022-08-29    96        96   96
2022-08-30    96        96   96

In [8]:
"""renmove the rows where date is Aug 1, Aug 24, and Aug 25"""
real_time_Aug = real_time_Aug[real_time_Aug['Time'].dt.day != 1]
real_time_Aug = real_time_Aug[real_time_Aug['Time'].dt.day != 24]
real_time_Aug = real_time_Aug[real_time_Aug['Time'].dt.day != 25]
day_ahead_Aug['Time'] = pd.to_datetime(day_ahead_Aug['Time'])
"""remove the rows where date is Aug 1, Aug 24, and Aug 25"""
day_ahead_Aug = day_ahead_Aug[day_ahead_Aug['Time'].dt.day != 1]
day_ahead_Aug = day_ahead_Aug[day_ahead_Aug['Time'].dt.day != 24]
day_ahead_Aug = day_ahead_Aug[day_ahead_Aug['Time'].dt.day != 25]

In [9]:
print(len(day_ahead_Aug[day_ahead_Aug['Location'] == 'WISE1_7_B1']))
print(len(real_time_Aug[real_time_Aug['Location'] == 'WISE1_7_B1']))

648
2592

In [10]:
real_time_Oct['Time'] = pd.to_datetime(real_time_Oct['Time'])
doomer = real_time_Oct[real_time_Oct['Location'] == 'WISE1_7_B1']
"""groupby date and count the number of rows for each date"""
doomer.groupby(doomer['Time'].dt.date).count()

            Time  Location  LMP
Time
2022-10-01    96        96   96
2022-10-02    96        96   96
2022-10-03    96        96   96
2022-10-04    96        96   96
2022-10-05    96        96   96
2022-10-06    96        96   96
2022-10-07    96        96   96
2022-10-08    96        96   96
2022-10-09    96        96   96
2022-10-10    96        96   96
2022-10-11    96        96   96
2022-10-12    96        96   96
2022-10-13    96        96   96
2022-10-14    96        96   96
2022-10-15    96        96   96
2022-10-16    96        96   96
2022-10-17    92        92   92
2022-10-18    96        96   96
2022-10-19    96        96   96
2022-10-20    96        96   96
2022-10-21    96        96   96
2022-10-22    96        96   96
2022-10-23    96        96   96
2022-10-24    96        96   96
2022-10-25    96        96   96
2022-10-26    96        96   96
2022-10-27    96        96   96
2022-10-28    96        96   96
2022-10-29    96        96   96

In [11]:
"""remove the Oct 17 data"""
real_time_Oct = real_time_Oct[real_time_Oct['Time'].dt.day != 17]
day_ahead_Oct['Time'] = pd.to_datetime(day_ahead_Oct['Time'])
"""remove the Oct 17 data"""
day_ahead_Oct = day_ahead_Oct[day_ahead_Oct['Time'].dt.day != 17]

In [12]:
print(len(day_ahead_Oct[day_ahead_Oct['Location'] == 'WISE1_7_B1']))
print(len(real_time_Oct[real_time_Oct['Location'] == 'WISE1_7_B1']))

672
2688

In [13]:
table_real_time_Jan = dict()
for node in node_list:
    a = real_time_Jan[real_time_Jan['Location'] == node]
    new_column = np.array([])
    for i in range(int(len(a) / 4)):
        new_column = np.append(new_column, np.mean(a['LMP'][i*4:(i+1)*4]))

    table_real_time_Jan[node] = new_column

In [14]:
table_real_time_Aug = dict()
for node in node_list:
    a = real_time_Aug[real_time_Aug['Location'] == node]
    new_column = np.array([])
    for i in range(int(len(a) / 4)):
        new_column = np.append(new_column, np.mean(a['LMP'][i*4:(i+1)*4]))

    table_real_time_Aug[node] = new_column

In [15]:
table_real_time_Oct = dict()
for node in node_list:
    a = real_time_Oct[real_time_Oct['Location'] == node]
    new_column = np.array([])
    for i in range(int(len(a) / 4)):
        new_column = np.append(new_column, np.mean(a['LMP'][i*4:(i+1)*4]))

    table_real_time_Oct[node] = new_column

In [16]:
table_day_ahead_Jan = dict()
for node in node_list:
    a = day_ahead_Jan[day_ahead_Jan['Location'] == node]
    new_column = a['LMP'].to_numpy()
    table_day_ahead_Jan[node] = new_column

table_day_ahead_Aug = dict()
for node in node_list:
    a = day_ahead_Aug[day_ahead_Aug['Location'] == node]
    new_column = a['LMP'].to_numpy()

    table_day_ahead_Aug[node] = new_column

table_day_ahead_Oct = dict()
for node in node_list:
    a = day_ahead_Oct[day_ahead_Oct['Location'] == node]
    new_column = a['LMP'].to_numpy()

    table_day_ahead_Oct[node] = new_column

In [17]:
print(len(table_real_time_Jan['VACA-DIX_1_B1']))
print(len(table_day_ahead_Jan['VACA-DIX_1_B1']))
print(len(table_real_time_Aug['WISE1_7_B1']))
print(len(table_day_ahead_Aug['WISE1_7_B1']))
print(len(table_real_time_Oct['WISE1_7_B1']))
print(len(table_day_ahead_Oct['WISE1_7_B1']))

696
696
648
648
672
672

In [18]:
table_Jan_diff = dict()
table_Aug_diff = dict()
table_Oct_diff = dict()
for node in node_list:
    table_Jan_diff[node] = table_real_time_Jan[node][24:] - table_day_ahead_Jan[node][:-24]
    table_Aug_diff[node] = table_real_time_Aug[node][24:] - table_day_ahead_Aug[node][:-24]
    table_Oct_diff[node] = table_real_time_Oct[node][24:] - table_day_ahead_Oct[node][:-24]

In [19]:
print(len(table_Aug_diff['WISE1_7_B1']))
print(len(table_Oct_diff['WISE1_7_B1']))
print(len(table_Jan_diff['VACA-DIX_1_B1']))

624
648
672

In [20]:
df_Jan_diff = pd.DataFrame(table_Jan_diff)
df_Aug_diff = pd.DataFrame(table_Aug_diff)
df_Oct_diff = pd.DataFrame(table_Oct_diff)
df_Jan_diff.to_csv('Jan_diff.csv')
df_Aug_diff.to_csv('Aug_diff.csv')
df_Oct_diff.to_csv('Oct_diff.csv')

In [21]:
for node in node_list:
    table_day_ahead_Jan[node] = table_day_ahead_Jan[node][: -24]
    table_day_ahead_Aug[node] = table_day_ahead_Aug[node][: -24]
    table_day_ahead_Oct[node] = table_day_ahead_Oct[node][: -24]

df_Jan = pd.DataFrame(table_day_ahead_Jan)
df_Aug = pd.DataFrame(table_day_ahead_Aug)
df_Oct = pd.DataFrame(table_day_ahead_Oct)
df_Jan.to_csv('Jan_day_ahead.csv')
df_Aug.to_csv('Aug_day_ahead.csv')
df_Oct.to_csv('Oct_day_ahead.csv')