In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib ipympl

In [9]:
Jan_diff = pd.read_csv('Jan_diff.csv')
Aug_diff = pd.read_csv('Aug_diff.csv')
Oct_diff = pd.read_csv('Oct_diff.csv')

In [10]:
"""read csv from url and convert to dataframe"""
geo_df = pd.read_csv('https://raw.githubusercontent.com/emunsing/CAISO-Scrapers/master/LMP%20Location%20Scraper/LMPLocations.csv')

In [11]:
geo_df

      latitude             type            name  longitude
0      36.6921        Load Node   KERMAN_6_N001    -120.06
1      36.8400  Generation Node    PINEFLT_2_B1    -119.32
2      36.8300  Generation Node    PINEFLT_7_B1    -119.31
3      36.8300  Generation Node    PINEFLT_7_B3    -119.31
4      36.8300  Generation Node    PINEFLT_7_B4    -119.31
...        ...              ...             ...        ...
2254   39.0193        Load Node  FORSTHL_6_N001    -120.83
2255   35.6971        Load Node  SEARLES_7_N001    -117.40
2256   35.6971  Generation Node  SEARLES_7_N002    -117.40
2257   35.6971  Generation Node  SEARLES_7_N004    -117.40
2258   35.7573  Generation Node      MCGEN_7_B1    -117.39

[2259 rows x 4 columns]

In [12]:
node_list = Jan_diff.columns.to_list()
node_lsit = node_list.remove('Unnamed: 0')

In [13]:
"""find the rows with name values in the node_list"""
new_geo_df = geo_df[geo_df['name'].isin(node_list)]
new_geo_df

      latitude             type             name  longitude
200    33.8189  Generation Node  LBEACH1G_7_N001    -118.22
248    37.1400  Generation Node     BIGCRK3_2_B1    -119.39
886    37.4154        Load Node  MILPITAS_1_N001    -121.89
1360   37.3300  Generation Node  IBM-CTLE_1_N002    -121.74
1486   37.2400  Generation Node     MECCTG2_7_B2    -121.78
1607   38.3800  Generation Node    VACA-DIX_1_B1    -121.89
1615   39.4900  Generation Node    KANAKAJT_1_B1    -121.40
1811   34.8602  Generation Node      ALTA1G_7_B1    -116.85
2017   35.4100        Load Node    RENFRO_1_N001    -119.17

In [14]:
new_node_list = new_geo_df['name'].to_list()
new_node_list

['LBEACH1G_7_N001',
 'BIGCRK3_2_B1',
 'MILPITAS_1_N001',
 'IBM-CTLE_1_N002',
 'MECCTG2_7_B2',
 'VACA-DIX_1_B1',
 'KANAKAJT_1_B1',
 'ALTA1G_7_B1',
 'RENFRO_1_N001']

In [15]:
"""use meteostat to get weather data given longtitude and latitude, data should be hourly"""
import meteostat
from meteostat import Stations, Daily, Hourly
import datetime

for node in new_node_list:
    a = new_geo_df[new_geo_df['name'] == node][['latitude', 'longitude']].to_numpy()
    lat = a[0][0]
    lon = a[0][1]
    start = datetime.datetime(2022, 1, 1)
    end = datetime.datetime(2022, 1, 30, 23, 59)
    stations = Stations()
    stations = stations.nearby(lat, lon)
    stations = stations.fetch(1)

    data = Hourly(stations, start, end)
    data = data.fetch()
    data = data[['temp', 'rhum', 'prcp', 'wspd']]
    data.to_csv(node + 'Jan' + '.csv')

In [ ]:
for node in new_node_list:
    a = new_geo_df[new_geo_df['name'] == node][['latitude', 'longitude']].to_numpy()
    lat = a[0][0]
    lon = a[0][1]
    start = datetime.datetime(2022, 8, 1)
    end = datetime.datetime(2022, 8, 30, 23, 59)
    stations = Stations()
    stations = stations.nearby(lat, lon)
    stations = stations.fetch(1)

    data = Hourly(stations, start, end)
    data = data.fetch()
    data = data[['temp', 'rhum', 'prcp', 'wspd']]
    data.to_csv(node + 'Aug' + '.csv')

In [ ]:
for node in new_node_list:
    a = new_geo_df[new_geo_df['name'] == node][['latitude', 'longitude']].to_numpy()
    lat = a[0][0]
    lon = a[0][1]
    start = datetime.datetime(2022, 10, 1)
    end = datetime.datetime(2022, 10, 29, 23, 59)
    stations = Stations()
    stations = stations.nearby(lat, lon)
    stations = stations.fetch(1)

    data = Hourly(stations, start, end)
    data = data.fetch()
    data = data[['temp', 'rhum', 'prcp', 'wspd']]
    data.to_csv(node + 'Oct' + '.csv')