In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib ipympl

In [5]:
node_list = ['LBEACH1G_7_N001','BIGCRK3_2_B1','MILPITAS_1_N001','IBM-CTLE_1_N002','MECCTG2_7_B2','VACA-DIX_1_B1','KANAKAJT_1_B1','ALTA1G_7_B1','RENFRO_1_N001']

In [6]:
df1 = pd.read_csv(node_list[0] + 'Jan.csv')
df1['Node_Name'] = node_list[0]
for node in node_list[1:]:
    df2 = pd.read_csv(node + 'Jan.csv')
    df2['Node_Name'] = node
    df1 = pd.concat([df1,df2], axis = 0)

df_Jan = df1.copy()

In [7]:
df_Jan

                    time  temp  rhum  prcp  wspd        Node_Name
0    2022-01-01 00:00:00  13.9  67.0   0.0  16.6  LBEACH1G_7_N001
1    2022-01-01 01:00:00  13.3  72.0   0.0  16.6  LBEACH1G_7_N001
2    2022-01-01 02:00:00  13.3  72.0   0.0   7.6  LBEACH1G_7_N001
3    2022-01-01 03:00:00  13.3  77.0   0.0   9.4  LBEACH1G_7_N001
4    2022-01-01 04:00:00  12.2  77.0   0.0   5.4  LBEACH1G_7_N001
..                   ...   ...   ...   ...   ...              ...
715  2022-01-30 19:00:00  13.3  37.0   0.0   9.4    RENFRO_1_N001
716  2022-01-30 20:00:00  15.6  27.0   0.0   0.0    RENFRO_1_N001
717  2022-01-30 21:00:00  17.2  27.0   0.0   9.4    RENFRO_1_N001
718  2022-01-30 22:00:00  17.8  27.0   0.0  13.0    RENFRO_1_N001
719  2022-01-30 23:00:00  18.3  29.0   0.0  11.2    RENFRO_1_N001

[6480 rows x 6 columns]

In [8]:
df1 = pd.read_csv(node_list[0] + 'Aug.csv')
df1['Node_Name'] = node_list[0]
df1
for node in node_list[1:]:
    df2 = pd.read_csv(node + 'Aug.csv')
    df2['Node_Name'] = node
    df1 = pd.concat([df1,df2], axis = 0)

df_Aug = df1.copy()

In [9]:
df_Aug

                    time  temp  rhum  prcp  wspd        Node_Name
0    2022-08-01 00:00:00  30.0  24.0   0.0  13.0  LBEACH1G_7_N001
1    2022-08-01 01:00:00  30.0  22.0   0.0  13.0  LBEACH1G_7_N001
2    2022-08-01 02:00:00  24.4  64.0   0.0  13.0  LBEACH1G_7_N001
3    2022-08-01 03:00:00  23.9  69.0   0.0  11.2  LBEACH1G_7_N001
4    2022-08-01 04:00:00  23.3  69.0   0.0   9.4  LBEACH1G_7_N001
..                   ...   ...   ...   ...   ...              ...
715  2022-08-30 19:00:00  32.8  26.0   0.0   9.4    RENFRO_1_N001
716  2022-08-30 20:00:00  35.0  24.0   0.0   9.4    RENFRO_1_N001
717  2022-08-30 21:00:00  36.1  24.0   0.0  16.6    RENFRO_1_N001
718  2022-08-30 22:00:00  36.7  23.0   0.0  18.4    RENFRO_1_N001
719  2022-08-30 23:00:00  37.8  23.0   0.0  16.6    RENFRO_1_N001

[6480 rows x 6 columns]

In [10]:
df1 = pd.read_csv(node_list[0] + 'Oct.csv')
df1['Node_Name'] = node_list[0]
for node in node_list[1:]:
    df2 = pd.read_csv(node + 'Oct.csv')
    df2['Node_Name'] = node
    df1 = pd.concat([df1,df2], axis = 0)

df_Oct = df1.copy()

In [11]:
"""make the time in df_Jan as date time format, and remove Jan 5 date for df_Jan"""

df_Jan['time'] = pd.to_datetime(df_Jan['time'])
df_Jan = df_Jan[df_Jan['time'].dt.day != 5]
df_Jan = df_Jan[df_Jan['time'].dt.day != 30]

In [12]:
"""make the time in df_Aug as date time format, and remove Aug 5, 24, 25 for df_Aug"""

df_Aug['time'] = pd.to_datetime(df_Aug['time'])
df_Aug = df_Aug[df_Aug['time'].dt.day != 1]
df_Aug = df_Aug[df_Aug['time'].dt.day != 24]
df_Aug = df_Aug[df_Aug['time'].dt.day != 25]
df_Aug = df_Aug[df_Aug['time'].dt.day != 30]

In [13]:
df_Oct['time'] = pd.to_datetime(df_Oct['time'])
df_Oct = df_Oct[df_Oct['time'].dt.day != 17]
df_Oct = df_Oct[df_Oct['time'].dt.day != 29]

In [14]:
print(len(df_Jan) / 9)
print(len(df_Aug) / 9)
print(len(df_Oct) / 9)

672.0
624.0
648.0

In [15]:
Jan_diff = pd.read_csv('Jan_diff.csv')  
Aug_diff = pd.read_csv('Aug_diff.csv')
Oct_diff = pd.read_csv('Oct_diff.csv')

In [16]:
Jan_diff = Jan_diff[node_list]
Aug_diff = Aug_diff[node_list]
Oct_diff = Oct_diff[node_list]

In [17]:
Jan_day_ahead = pd.read_csv('Jan_day_ahead.csv')
Aug_day_ahead = pd.read_csv('Aug_day_ahead.csv')
Oct_day_ahead = pd.read_csv('Oct_day_ahead.csv')

In [18]:
Jan_day_ahead = Jan_day_ahead[node_list]
Aug_day_ahead = Aug_day_ahead[node_list]
Oct_day_ahead = Oct_day_ahead[node_list]

In [19]:
"""divide Jan_day_ahead by Jan_diff element-wise"""

Jan_return = Jan_diff / Jan_day_ahead
Aug_return = Aug_diff / Aug_day_ahead
Oct_return = Oct_diff / Oct_day_ahead

In [20]:
"""save the return data to csv file"""

Jan_return.to_csv('Jan_return.csv')
Aug_return.to_csv('Aug_return.csv')
Oct_return.to_csv('Oct_return.csv')

In [21]:
"""get rid of the prcp columns"""
df_Jan = df_Jan.drop(['prcp'], axis = 1)
df_Aug = df_Aug.drop(['prcp'], axis = 1)
df_Oct = df_Oct.drop(['prcp'], axis = 1)

"""normalize the data"""
df_Jan['temp'] = (df_Jan['temp'] - df_Jan['temp'].mean()) / df_Jan['temp'].std()   
df_Jan['rhum'] = (df_Jan['rhum'] - df_Jan['rhum'].mean()) / df_Jan['rhum'].std()
df_Jan['wspd'] = (df_Jan['wspd'] - df_Jan['wspd'].mean()) / df_Jan['wspd'].std()
df_Aug['temp'] = (df_Aug['temp'] - df_Aug['temp'].mean()) / df_Aug['temp'].std()
df_Aug['rhum'] = (df_Aug['rhum'] - df_Aug['rhum'].mean()) / df_Aug['rhum'].std()
df_Aug['wspd'] = (df_Aug['wspd'] - df_Aug['wspd'].mean()) / df_Aug['wspd'].std()
df_Oct['temp'] = (df_Oct['temp'] - df_Oct['temp'].mean()) / df_Oct['temp'].std()
df_Oct['rhum'] = (df_Oct['rhum'] - df_Oct['rhum'].mean()) / df_Oct['rhum'].std()
df_Oct['wspd'] = (df_Oct['wspd'] - df_Oct['wspd'].mean()) / df_Oct['wspd'].std()

In [22]:
from sklearn.linear_model import LinearRegression
table_predict_return_Jan = pd.DataFrame(columns = ['Node_Name'])
for node in node_list:
    a = pd.concat([Jan_return[node], df_Jan[df_Jan['Node_Name'] == node]], axis = 1)
    temp_node = df_Jan[df_Jan['Node_Name'] == node].set_index('time')
    x = Jan_return[node].to_numpy()
    temp_node['return'] = x
    predict = []
    for i in range(len(temp_node) - 1):
        x = temp_node[['temp', 'rhum', 'wspd']].iloc[:i+1, :].to_numpy()
        y = temp_node['return'].iloc[:i+1].to_numpy()
        model = LinearRegression().fit(x, y.reshape(-1,1))
        new_x = temp_node[['temp', 'rhum', 'wspd']].iloc[i+1, :].to_numpy()
        number = model.predict(new_x.reshape(1, -1))
        predict.append(number[0][0])

    predict = np.array(predict)
    predict = np.insert(predict, 0, 0)
    table_predict_return_Jan[node] = predict

In [23]:
table_predict_return_Jan = table_predict_return_Jan.drop(['Node_Name'], axis = 1)
table_predict_return_Jan

,LBEACH1G_7_N001,BIGCRK3_2_B1,MILPITAS_1_N001,IBM-CTLE_1_N002,MECCTG2_7_B2,VACA-DIX_1_B1,KANAKAJT_1_B1,ALTA1G_7_B1,RENFRO_1_N001
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.107341,0.068099,0.087323,0.083443,0.081075,0.080111,0.079863,0.101212,0.099762
2,0.051803,-0.102210,-0.515529,0.040764,0.038240,-0.158464,0.005447,0.592784,-0.047634
3,0.020921,0.022957,0.554529,0.114619,0.113317,2.153451,0.499043,-1.088885,-0.004127
4,-0.008358,0.305207,0.031662,0.434453,0.431397,0.230453,-0.323014,2.456640,-0.014740
...,...,...,...,...,...,...,...,...,...
667,0.165171,0.138890,0.039590,0.025322,0.021791,-0.048669,-0.017317,0.151206,0.032413
668,0.077251,0.114465,-0.042803,0.007045,0.003338,-0.105030,0.007761,0.140820,-0.017917
669,0.040558,0.042738,-0.116487,-0.029143,-0.032262,-0.135326,-0.010454,0.111563,-0.067078
670,0.032232,-0.027518,-0.055593,0.000522,-0.002741,-0.196461,-0.025818,0.092652,-0.036079
671,0.031342,-0.081370,-0.012226,-0.052793,-0.055798,-0.203221,-0.027078,0.090181,-0.098673

In [24]:
table_predict_return_Aug = pd.DataFrame(columns = ['Node_Name'])
for node in node_list:
    a = pd.concat([Aug_return[node], df_Aug[df_Aug['Node_Name'] == node]], axis = 1)
    temp_node = df_Aug[df_Aug['Node_Name'] == node].set_index('time')
    x = Aug_return[node].to_numpy()
    temp_node['return'] = x
    predict = []
    for i in range(len(temp_node) - 1):
        x = temp_node[['temp', 'rhum', 'wspd']].iloc[:i+1, :].to_numpy()
        y = temp_node['return'].iloc[:i+1].to_numpy()
        model = LinearRegression().fit(x, y.reshape(-1,1))
        new_x = temp_node[['temp', 'rhum', 'wspd']].iloc[i+1, :].to_numpy()
        number = model.predict(new_x.reshape(1, -1))
        predict.append(number[0][0])

    predict = np.array(predict)
    predict = np.insert(predict, 0, 0)
    table_predict_return_Aug[node] = predict

table_predict_return_Aug = table_predict_return_Aug.drop(['Node_Name'], axis = 1)
table_predict_return_Aug

,LBEACH1G_7_N001,BIGCRK3_2_B1,MILPITAS_1_N001,IBM-CTLE_1_N002,MECCTG2_7_B2,VACA-DIX_1_B1,KANAKAJT_1_B1,ALTA1G_7_B1,RENFRO_1_N001
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
1,0.082386,0.042094,-0.035294,-0.041645,-0.045270,-0.067802,0.017291,0.085361,1.379993e-02
2,0.042162,0.204002,-0.090133,-0.143041,-0.143181,-0.079714,0.081155,0.050899,-1.138353e-01
3,-0.001525,-0.534419,-0.112638,0.120804,0.113507,-0.081917,-0.100283,-0.245483,1.217060e-01
4,-0.008752,-0.022904,-0.109431,-0.130649,-0.132383,-0.215917,0.038318,0.093866,-3.898881e+11
...,...,...,...,...,...,...,...,...,...
619,-0.046001,-0.059113,-0.009174,-0.013104,-0.024172,-0.039855,-0.276761,-0.037415,-2.167494e-02
620,-0.054179,-0.050397,-0.062224,-0.075666,-0.087843,-0.039824,-0.414200,-0.006307,-6.542020e-02
621,-0.050861,-0.045389,-0.058693,-0.100920,-0.118071,-0.036026,-0.439083,-0.010022,-6.240447e-02
622,-0.046560,-0.047258,-0.069982,-0.112567,-0.118918,-0.106494,-0.243045,-0.009568,-7.053004e-02
623,-0.004786,-0.045802,-0.036058,-0.061987,-0.073524,-0.104289,-0.341721,0.008345,-6.937871e-02

In [25]:
table_predict_return_Oct = pd.DataFrame(columns = ['Node_Name'])
for node in node_list:
    a = pd.concat([Oct_return[node], df_Oct[df_Oct['Node_Name'] == node]], axis = 1)
    temp_node = df_Oct[df_Oct['Node_Name'] == node].set_index('time')
    x = Oct_return[node].to_numpy()
    temp_node['return'] = x
    predict = []
    for i in range(len(temp_node) - 1):
        x = temp_node[['temp', 'rhum', 'wspd']].iloc[:i+1, :].to_numpy()
        y = temp_node['return'].iloc[:i+1].to_numpy()
        model = LinearRegression().fit(x, y.reshape(-1,1))
        new_x = temp_node[['temp', 'rhum', 'wspd']].iloc[i+1, :].to_numpy()
        number = model.predict(new_x.reshape(1, -1))
        predict.append(number[0][0])

    predict = np.array(predict)
    predict = np.insert(predict, 0, 0)
    table_predict_return_Oct[node] = predict

table_predict_return_Oct = table_predict_return_Oct.drop(['Node_Name'], axis = 1)
table_predict_return_Oct

,LBEACH1G_7_N001,BIGCRK3_2_B1,MILPITAS_1_N001,IBM-CTLE_1_N002,MECCTG2_7_B2,VACA-DIX_1_B1,KANAKAJT_1_B1,ALTA1G_7_B1,RENFRO_1_N001
0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-5.084305e-02,-0.066560,-0.076270,-0.063594,-0.061642,-0.054125,-0.060509,-0.059281,-0.048797
2,-8.088922e-02,-0.262696,-0.229803,-0.158895,-0.158024,-0.091163,-0.112195,-0.059281,-0.337329
3,-4.357983e-02,-0.010643,-0.045474,-0.205780,-0.206065,0.018875,-0.060678,-0.013379,0.156194
4,3.182545e+13,-0.043718,-0.709644,0.436060,0.433348,-0.114877,0.012541,0.037775,-0.061917
...,...,...,...,...,...,...,...,...,...
643,-2.944649e-02,-0.143694,-0.065810,-0.042222,-0.056219,-0.216013,-0.027002,-0.105297,0.127749
644,-2.975154e-02,-0.140447,-0.067235,-0.043523,-0.057383,-0.215755,-0.044446,-0.103498,0.298267
645,-3.274697e-02,-0.165565,-0.028083,-0.065680,-0.071349,-0.357871,-0.047681,-0.143517,0.168859
646,-5.396954e-02,-0.165828,0.021315,-0.036286,-0.028269,-0.335070,-0.069600,-0.144133,0.153979
647,-2.903686e-02,-0.078418,0.054427,0.021591,0.035559,-0.446994,-0.075055,-0.153947,0.151017

In [26]:
"""save the data"""
table_predict_return_Jan.to_csv('table_predict_return_Jan.csv')
table_predict_return_Aug.to_csv('table_predict_return_Aug.csv')
table_predict_return_Oct.to_csv('table_predict_return_Oct.csv')